.doctypemethod{
    padding:0!important;
}
.doctype_title{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 0;
    margin-bottom: 10px;
}